################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FapClientWF/FapClient.GUI/bin/Debug/net5.0-windows
/FapClientWF/FapClient.Service/bin/Debug/net5.0
